In [20]:
# List

list1 = [1,2,3,4,5,6,7,8]
list2 = [0.1,0.2,0.3,0.4,0.5]

list1.append("Padmaja")
print(list1)
list1.copy()
print(list1)
list1.count(4)

list1.extend(list2)
print(list1)

list1.index(0.4)

list1.insert(1,"Pooja")
print(list1)

list1.pop(1)

list1.remove(6)
print(list1)

list1.reverse()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 'Padmaja']
[1, 2, 3, 4, 5, 6, 7, 8, 'Padmaja']
[1, 2, 3, 4, 5, 6, 7, 8, 'Padmaja', 0.1, 0.2, 0.3, 0.4, 0.5]
[1, 'Pooja', 2, 3, 4, 5, 6, 7, 8, 'Padmaja', 0.1, 0.2, 0.3, 0.4, 0.5]
[1, 2, 3, 4, 5, 7, 8, 'Padmaja', 0.1, 0.2, 0.3, 0.4, 0.5]
[0.5, 0.4, 0.3, 0.2, 0.1, 'Padmaja', 8, 7, 5, 4, 3, 2, 1]

In [24]:
abc = [30,21,22,25,45,54,85,98]

print(abc)
print("Ascending")

abc.sort(reverse=False)
print(abc)
print("Descending")
abc.sort(reverse=True)
print(abc)

[30, 21, 22, 25, 45, 54, 85, 98]
Ascending
[21, 22, 25, 30, 45, 54, 85, 98]
Descending
[98, 85, 54, 45, 30, 25, 22, 21]

In [40]:
print(abc)
abc[1:3]=["Pooja","Padmaja"]
print(abc)
abc.remove("Pooja")
abc.remove("Padmaja")
print(abc)
efg = [4,5,6,7,8,9]
efg.sort(reverse=False)
print(efg)
efg.sort(reverse=True)
print(efg)

[21]
[21, 'Pooja', 'Padmaja']
[21]
[4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4]

# Set

In [63]:
set1 = {1,2,3,4,5,6,7,8,10}
set2 = {1.11,2.22,3.33,4,5,6,7.77,8.88}
set3 = {1,2,3,4,5,6,7,8,10,1.11,2.22,3.33,7.77,8.88}

print(set1)
set1.add(10.12)
print(set1)
set1.copy()
b = set1.difference(set2)
print(b)
c = set2.difference(set1)
print(c)
d = set1.difference_update(set2)
print(d)
e = set2.difference_update(set1)
print(e)
set1.discard(1)
print(set1)
set1.intersection(set2)
print(set1)
g = set2.intersection(set1)
print(g)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 10.12}
{1, 2, 3, 7, 8, 10, 10.12}
{1.11, 2.22, 3.33, 7.77, 8.88}
None
None
{2, 3, 7, 8, 10, 10.12}
{2, 3, 7, 8, 10, 10.12}
set()

In [86]:
m = {1,2,3,4,5,6,7,8,10}
n = {1.11,2.22,3.33,4,5,6,7.77,8.88}
p = {1,2,3,4,5,6,7,8,10,1.11,2.22,3.33,7.77,8.88}

a = m.intersection(n)
print(m)
print(n)
print(a)
m.intersection_update(n)
print(m)
b = n.isdisjoint(m)
print(b)
c = n.issubset(p)
print(c)
d = m.issuperset(p)
print(d)
e = p.issuperset(m)
print(e)
f = m.pop()
print(f)
g = m.symmetric_difference(n)
print(g)
h = n.symmetric_difference(m)
print(h)
m.symmetric_difference_update(n)
print(m)
print(n)
r = m.union(n)
print(r)
s = m.update(p)
print(s)
m.update(n)
print(m)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1.11, 2.22, 3.33, 4, 5, 6, 7.77, 8.88}
{4, 5, 6}
{4, 5, 6}
False
True
False
True
4
{1.11, 2.22, 3.33, 4, 7.77, 8.88}
{1.11, 2.22, 3.33, 4, 7.77, 8.88}
{1.11, 2.22, 3.33, 4, 7.77, 8.88}
{1.11, 2.22, 3.33, 4, 5, 6, 7.77, 8.88}
{1.11, 2.22, 3.33, 4, 5, 6, 7.77, 8.88}
None
{1.11, 2.22, 3.33, 4, 1, 2, 7.77, 8.88, 3, 5, 6, 7, 8, 10}


# Dictionary

In [88]:
dict1 = {1:'A',
         2:'B',
         3:'C',
         4:'D'}
print(dict1)
print(type(dict1))

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}
<class 'dict'>

In [119]:
Stud = {
        'Name' : 'Padmaja',
        'Job title' : 'Data Scientist',
        'Salary' : 800000,
        'Mobile' : 7040628815,
        'Address' : 'Karad'
}

print(Stud)

print(Stud['Name'])
a = Stud.copy()
print(a)
b = Stud.fromkeys('Mobile',7040628815)
print(b)
c = Stud.get('Mobile')
print(c)
d = Stud.items()
print(d)
e = Stud.keys()
print(e)
f = Stud.pop('Mobile')
print(f)
g = Stud.popitem()
print(g)
print(Stud)
h = Stud.setdefault('Job title')
print(h)
i = Stud.update(Stud)
print(i)
j = Stud.values()
print(j)
k = Stud.clear()
print(k)
print(Stud)

{'Name': 'Padmaja', 'Job title': 'Data Scientist', 'Salary': 800000, 'Mobile': 7040628815, 'Address': 'Karad'}
Padmaja
{'Name': 'Padmaja', 'Job title': 'Data Scientist', 'Salary': 800000, 'Mobile': 7040628815, 'Address': 'Karad'}
{'M': 7040628815, 'o': 7040628815, 'b': 7040628815, 'i': 7040628815, 'l': 7040628815, 'e': 7040628815}
7040628815
dict_items([('Name', 'Padmaja'), ('Job title', 'Data Scientist'), ('Salary', 800000), ('Mobile', 7040628815), ('Address', 'Karad')])
dict_keys(['Name', 'Job title', 'Salary', 'Mobile', 'Address'])
7040628815
('Address', 'Karad')
{'Name': 'Padmaja', 'Job title': 'Data Scientist', 'Salary': 800000}
Data Scientist
None
dict_values(['Padmaja', 'Data Scientist', 800000])
None
{}

# Nested Dictionary

In [121]:
grandson = {
    'gname':'Grand_Son_Name'
}
son = {
    's_key' : grandson,
    's_name' : 'Son_name',
}
parent = {
    'p_key' : son,
    'p_name' : 'Parent_name'
}
family = {
    'f_key' : parent,
}
print(family)

{'f_key': {'p_key': {'s_key': {'gname': 'Grand_Son_Name'}, 's_name': 'Son_name'}, 'p_name': 'Parent_name'}}

In [122]:
family

{'f_key': {'p_key': {'s_key': {'gname': 'Grand_Son_Name'},
   's_name': 'Son_name'},
  'p_name': 'Parent_name'}}

In [123]:
family['f_key']

{'p_key': {'s_key': {'gname': 'Grand_Son_Name'}, 's_name': 'Son_name'},
 'p_name': 'Parent_name'}

# Operators

In [143]:
# Arithmatical Operators
print('Arithmatical Operators\n')
print("*Additions*")
a = 10
b = 20
res = a+b
print('sum: \t',res)


print("*Substractions*")
a = 50
b = 20
res = a-b
print('substraction: \t',res)

print("*Multiplications*")
c = 5
d = 2
res = c*d
print('Multiplication: \t',res)

print('*Division*')
e = 100
f = 20
res = e/f
print('Division: \t',res)

print('*Modulo*')
g = 50
h = 10
res = h%g
print('Modulo: \t',res)

print('*Floor Division*')
m = 100
n = 20
res = m//n
print('Floor Division:\t',res)

Arithmatical Operators

*Additions*
sum: 	 30
*Substractions*
substraction: 	 30
*Multiplications*
Multiplication: 	 10
*Division*
Division: 	 5.0
*Modulo*
Modulo: 	 10
*Floor Division*
Floor Division:	 5

In [159]:
# Assignment Operators

print('Assignment Operators\n')

var = 22
print(var)
var += 11
print(var)

var -= 22
print(var)

var *=4
print(var)

var /= 2
print(var)

var %= 100
print(var)

var //=10
print(var)

var = 5

var **=2
print(var)

Assignment Operators

22
33
11
44
22.0
22.0
2.0
25

In [161]:
x = 55
print('value of x is:\t',x)
print('prior x is:',x)
x +=10
print('post x is:',x)
y = 2 and 1
print(y)

value of x is:	 55
prior x is: 55
post x is: 65
1

In [162]:
# Comparison Operators

print('*Comparison Operators*')
a = 22
b = 11

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

*Comparison Operators*
False
True
True
False
False
True

In [167]:
# Identity Operators

print('Identity Operators\n')
x = 22
y = 22
print("Id of x is:",id(x))
print("Id of y is :",id(y))
print(x is y)

Identity Operators

Id of x is: 1984539880400
Id of y is : 1984539880400
True

# Membership Operators

In [173]:
print("Membership Operators\n")

Rolls = (11,22,33,44)
print(Rolls)
print(33 in Rolls)
print(55 not in Rolls)
print(10 in Rolls)

Membership Operators

(11, 22, 33, 44)
True
True
False

# Conditional Statements and Loops

In [180]:
print('Conditional Statements and Loops\n')

x = 10
y = 20
print(x<y)
if x > y:
    print("x is larger than y")
else:
    print("y is larger than x")

Conditional Statements and Loops

True
y is larger than x

In [182]:
 # Nested Conditional Statements
    
x = 100
if x > 150:
    if x > 200:
        print("x is greater than 150 and 200")
    elif x ==300:
        print("Number is equal to 300")
    else:
        print("Number is greater than 150 and lesser than 200")
elif x == 150:
    print("Number is equal to 150")
else:
    print("Number is less than 150")

Number is less than 150

In [185]:
# Pass Statement

x = 22
y = 33
if x>y:
    pass

# Loops

In [188]:
print('Loops\n')

x = 1
while x <=10:
    print(x)
    x = x+1

Loops

1
2
3
4
5
6
7
8
9
10

In [190]:
# Break Statements

x = 0
while x < 20:
    print(x)
    if x == 10:
        break
    x +=1

0
1
2
3
4
5
6
7
8
9
10