# While Loop

In [8]:
print("*While Loop*\n")

# print series of numbers

x = 0
while x <=8:
    print(x)
    x = x + 2

*While Loop*

0
2
4
6
8

In [9]:
# break statement

x = 0
while x < 12:
    print(x)
    if x==9:
        break
    x += 1

0
1
2
3
4
5
6
7
8
9

In [10]:
# Continue Statement

x = 0
while x <= 20:
    if x == 10 or x == 19:
        x += 1
        continue
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
20

In [14]:
# Else below while

x = 0
while x <= 20:
    
    if x == 10:
        x += 1
        continue
        
    print(x)
    x += 2
else:
    print("End")

0
2
4
6
8
11
13
15
17
19
End

In [22]:
# While on list and tuple

trading = ['stock','buy','exp','sale','gp']
print(trading)

print('While on list:\n')

x = 0
while x < len(trading):
    print(trading[x])
    x += 1

['stock', 'buy', 'exp', 'sale', 'gp']
While on list:

stock
buy
exp
sale
gp

In [27]:
trading = ('stock','buy','exp','sale','gp')
print(type(trading))
print(trading)

print('While on tuple:\n')

x = 0
while x < len(trading):
    print(trading[x])
    x += 1

<class 'tuple'>
('stock', 'buy', 'exp', 'sale', 'gp')
While on tuple:

stock
buy
exp
sale
gp

# For Loop

In [33]:
print('*For Loop*')
trading = ['stock','buy','exp','sale','gp']
print(trading)

print('For Loop on List:\n')

for x in trading:
    print(x)

*For Loop*
['stock', 'buy', 'exp', 'sale', 'gp']
For Loop on List:

stock
buy
exp
sale
gp

In [35]:
# For Loop on String

str1 = "For loop on string"
print(str1)
print('For on str1')

for x in str1:
    print(x)

For loop on string
For on str1
F
o
r

l
o
o
p

o
n

s
t
r
i
n
g

In [36]:
# For Loop on Tuple

trading = ('stock','buy','exp','sale','gp')

print(trading)
for x in trading:
    print(x)

('stock', 'buy', 'exp', 'sale', 'gp')
stock
buy
exp
sale
gp

In [42]:
# For Loop on Dictionary

print("*For Loop on Dictionary*")

detail ={
    "Name":"Padmaja",
    "Soul":"Old",
    "Caste":"Spiritual",
    "Status":"Self Aware",
    "LuckyNo":1111222333444,
    
}
print(detail)

print("*For Loop on dictionary keys*\n")
for x in detail.keys():
    print(x)
    
print("*For Loop on dictionary values*\n")
for x in detail.values():
    print(x)
    
print("*For Loop on dictionary items*\n")
for x in detail.items():
    print(x)

*For Loop on Dictionary*
{'Name': 'Padmaja', 'Soul': 'Old', 'Caste': 'Spiritual', 'Status': 'Self Aware', 'LuckyNo': 1111222333444}
*For Loop on dictionary keys*

Name
Soul
Caste
Status
LuckyNo
*For Loop on dictionary values*

Padmaja
Old
Spiritual
Self Aware
1111222333444
*For Loop on dictionary items*

('Name', 'Padmaja')
('Soul', 'Old')
('Caste', 'Spiritual')
('Status', 'Self Aware')
('LuckyNo', 1111222333444)

In [46]:
# For Loop on Set
print("*For Loop on Set*")
trading = {'stock','buy','exp','sale','gp'}
print(trading)

for x in trading:
    print(x)
for x in trading.copy():
    print(x)

*For Loop on Set*
{'exp', 'gp', 'stock', 'buy', 'sale'}
exp
gp
stock
buy
sale
exp
gp
stock
buy
sale

# Range

In [47]:
# For Loop on range

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
for i in range(100,1100,100):
    print(i)

100
200
300
400
500
600
700
800
900
1000

In [50]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [54]:
# Writing and removing every 3rd element from the list

Numbers = [10,20,30,40,50,60,70,80,90,11,22,33,44,55,66,77,88,99]
print("The list is:")
print(Numbers)
index = 0
pos = 3-1
x = len(Numbers)
while x > 0:
    index = (pos + index) % x
    print(Numbers.pop(index))
    x = x - 1

The list is:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 22, 33, 44, 55, 66, 77, 88, 99]
30
60
90
33
66
99
40
80
44
88
50
22
10
11
20
77
70
55

# Functions

In [55]:
print("This is normal Execution block")

def MyFun():
    print("I'm inside the function")
print("Calling my function")
MyFun()
print("Function execution is over")

This is normal Execution block
Calling my function
I'm inside the function
Function execution is over

In [57]:
# Arguments

def MyName(val):
    print(val)
val = "Padmaja Jadhav"
MyName(val)

Padmaja Jadhav

In [59]:
# return values

def Add (x,y):
    ad = x + y
    return ad

print("*Additions using function*")
a = 60
b = 120
result = Add(a,b)
print("Addition:",result)

*Additions using function*
Addition: 180

# Lambda Function

In [66]:
print("*Use of Lambda Function*")

square = lambda a: a**3
print("square of 2 is:")
square(2)
print(square(2))
square(4)
print("Square of 4 is:",square(4))

*Use of Lambda Function*
square of 2 is:
8
Square of 4 is: 64

In [71]:
def myfun(n):
    print("Value of n is:",n)
    return (lambda a : a * n)
otherfun = myfun(2)
print(otherfun(10))

Value of n is: 2
20