# While Loop

1.Print series of numbers using while loop

In [5]:
x = 1
while x<=25:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

1.Print series of odd numbers using while loop till 100

In [7]:
x = 1
while x<=100:
    print(x)
    x = x + 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

2.Break statement

In [11]:
x = 0
while x < 100:
    print(x)
    if x == 25:
        break
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

3.Continue Statement

In [15]:
x = 1
while x < 100:
    if x == 50 or x == 99:
        x += 1
        
        continue
        
    print(x)
    x +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

4.Else below while

In [18]:
x = 1
while  x <= 50:
    
    if x == 20:
        x += 1
        continue
        
    print(x)
    x += 1
else:
    print("There is no more value to excute")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
There is no more value to excute

5. While on list and on tuple

In [29]:
list1 = ["profit","gain","loss","trade","high"]

print(list1)
 
print("while on list:- ")

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['profit', 'gain', 'loss', 'trade', 'high']
while on list:-
profit
gain
loss
trade
high

In [36]:
list1 = ['profit', 'gain', 'loss', 'trade', 'high']

print('profit\n','gain\n','loss\n','trade\n','high\n')

profit
 gain
 loss
 trade
 high

6.String

In [40]:
str1 = "This is Python"
 
print(str1)

print("for on str1:-")

for x in str1:
    print(x)

This is Python
for on str1:-
T
h
i
s

i
s

P
y
t
h
o
n

7. Tuple

In [1]:
tup = ('profit', 'gain', 'loss', 'trade', 'high')

print(tup)

print("for on tuple:-")

for x in tup:
    print(x)

('profit', 'gain', 'loss', 'trade', 'high')
for on tuple:-
profit
gain
loss
trade
high

In [2]:
def character(str):
    result = ''
    for char in str:
        result += char*2
    return
print(character("*"))

None

In [11]:

square = lambda a: a ** 2

print("Square of 4 is: ")

for i in range(0,10):
    
    print(square(i))

Square of 4 is:
0
1
4
9
16
25
36
49
64
81

8.Dictionery

In [ ]:
dict1. = {
    'Name' : 'Padmaja',
    'Mobile' : 7588635613,
    'Address' : 'Dushere',
    'Job' : 'Intern',
    'Salary' : 1000000,
    1 : 100

}

print(dict1)

In [3]:
dict1 = {
    'Name' : 'Padmaja',
    'Mobile' : 7588635613,
    'Address' : 'Dushere',
    'Job' : 'Intern',
    'Salary' : 1000000,
    1 : 100

}

print(dict1)

print("for on dict printing keys:")
for x in dict1.keys():
    print(x)
    
print("for on dict printing values:")
for x in dict1.values():
    print(x)
    
print("for on dict printing pairs:")
for x,y in dict1.items():
    print("(",x,",",y,")")

{'Name': 'Padmaja', 'Mobile': 7588635613, 'Address': 'Dushere', 'Job': 'Intern', 'Salary': 1000000, 1: 100}
for on dict printing keys:
Name
Mobile
Address
Job
Salary
1
for on dict printing values:
Padmaja
7588635613
Dushere
Intern
1000000
100
for on dict printing pairs:
( Name , Padmaja )
( Mobile , 7588635613 )
( Address , Dushere )
( Job , Intern )
( Salary , 1000000 )
( 1 , 100 )

9.Set

In [4]:
set1 = {'profit','loss','gain','trade','inter'}

print(set1)

print("for on set1:-")

for x in set1:
    print(x)

{'loss', 'trade', 'inter', 'gain', 'profit'}
for on set1:-
loss
trade
inter
gain
profit

# Range

In [7]:
for i in range(21,31):
    print(i)

21
22
23
24
25
26
27
28
29
30

In [8]:
for x in range (5,11,2):
    print(x)

5
7
9

In [10]:
# printing odd numbers till 50
for y in range (1,51,2):
    print(y)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Else in for

In [11]:
for i in range (100,201,10):
    print(i)
else:
    print("There is nothing to print from now")

100
110
120
130
140
150
160
170
180
190
200
There is nothing to print from now

# Writinfg and removing every 3rd element from a list

In [19]:
list1 = [10,20,30,40,50,60,70,80,90]

print("list is :",list1)
index = 0
pos = 3-1
l = len(list1)
while l>0:
    index = (pos + index) % l
    print(list1.pop(index))
    l = l - 1

list is : [10, 20, 30, 40, 50, 60, 70, 80, 90]
30
60
90
40
80
50
20
70
10

In [23]:
list_1 = [10,20,30,40,50,60,70,80,90]

print("list is :",list_1)
index = 0
pos = 3-1
l = len(list_1)
while l>0:
    index = (pos + index) % l
    print(list_1.pop(index))
    l = l - 1

list is : [10, 20, 30, 40, 50, 60, 70, 80, 90]
30
60
90
40
80
50
20
70
10

# Function

In [30]:
print("Application of Function")

def fstfun():
    print("\nPart of Function\n")

fstfun()
print("function is executed")

Application of Function

Part of Function

function is executed

# Arguments in function

In [31]:
def myfun(val):
    print(val)
    
val = "Padmaja"
myfun(val)

Padmaja

 Return Values

In [32]:
def add(x,y):
    ad = x + y
    return ad
print("Addition using function")
a = 5
b = 10
result = add(a,b)
print("Addition is:",result)

Addition using function
Addition is: 15

In [33]:
def mult(x,y):
    multi = x*y
    return multi
print("Multiplication using function")
a = 2
b = 3
result = mult(a,b)
print("Multiplication is:",result)

Multiplication using function
Multiplication is: 6

Unknown Parameters

In [34]:
def unfun(*letter):
    print("The letter at 2nd loc is ",letter)
unfun("a","b","c","d","e")

The letter at 2nd loc is  ('a', 'b', 'c', 'd', 'e')

In [35]:
def unfun(std1,std2,std3):
    print("The smartest student is:",std2)

unfun(std1="Aish",std2="Padmaja",std3="Mrunal")

The smartest student is: Padmaja

In [2]:
def myfun(**name):
    print("Her full name is",name['fname'],name['lname'])
    
myfun(fname = 'Padmaja',lname = 'Jadhav')

Her full name is Padmaja Jadhav

In [3]:
def AltMail(email = "default@gmail.com"):
    print("Alternate email is :",email)
    
print("Alternate email of student:")

AltMail("abc@gmail.com")
AltMail("efg@gmail.com")
AltMail()

Alternate email of student:
Alternate email is : abc@gmail.com
Alternate email is : efg@gmail.com
Alternate email is : default@gmail.com